.eventDrawer {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
  transform: translate(100%);
  overflow: hidden;
  background: white;
  z-Index: 5;
}
.eventDrawer__open{
  /* display: flex; */
  transform: translate(0%);
}
.editModalButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1%;
  z-Index: 6;
}
.eventDetails {
  font-size: 1.3rem;
  list-style: none;
}
.detail {
  list-style: none
}
.editEventForm {
  display: flex;
  flex-direction: column;
  width: 70%;
  box-sizing: border-box;
}
.eventInput {

}
.oneLine {
  display: flex;
  justify-content: space-between
}
.submit {
  background: black;
  color: white;
  font-size: 1rem;
  margin-top: 5%;
}
.deleteEvent{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1%;
  color: red;
  /* font-size: large; */
}
.closeEventDetails {
  position: absolute;
  bottom: 0;
  right: 0;
  margin:1%;
  font-size: 2rem;
}