
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid; */
}
.logoAnchor{
  width: 10%;
}
.journeyCostLogo{
  width: 100%;
}
.menu{
  display: flex;
  align-items: center;
}
.user{
  width: 20px;
  height: 20px;
 font-size: 1rem;
 border: 1px solid;
 padding: 1%;
 border-radius: 100%;
 background: black;
 color: white;
text-align: center;
}
