
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid; */
  margin-bottom: 1%;
}
.logoAnchor{
  width: 10%;
}
.journeyCostLogo{
  width: 100%;
  transition: .3s ease-in-out;
}

.journeyCostLogo:hover{
  transform: scale(1.1);
}

.menu{
  display: flex;
  align-items: center;
}
.menuItem{
  transition: .3s ease-in-out;
  margin: 0 5px;
}
.menuItem:hover{
  transform: scale(1.1);
  color: #ff66c3;
}
.user{
  width: 20px;
  height: 20px;
 font-size: 1rem;
 border: 1px solid;
 padding: 1%;
 border-radius: 100%;
 background: black;
 color: white;
text-align: center;
}
.hamburger{
  /* font-size: 5rem; */
  width: 5%;
  color: black;
}

.userImage{
  width: 40px;
  border-radius: 50%;
  margin-top: 3px;
}

@media only screen and (min-width: 600px) {
  .logoAnchor{
    width: 4%;
  }
  .userImage{
    width: 50px
  }
  .hamburger{
    width: 10%;
  }
}