#splash{
  background-image: url(../../assets/flight.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 0 0;
  padding: 0;
  font-size:1rem;
}
/* .logIn{
  display: flex;
  flex-direction: column;
} */

#AppName{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 90%;
}

#AppName path:nth-child(1){
  stroke-dasharray: 198.58364868164062;
  stroke-dashoffset: 198.58364868164062;
  animation: line-anim 1s ease forwards,
  fill 1s ease forwards 1.6s  
}
#AppName path:nth-child(2){
  stroke-dasharray: 192.0431365966797;
  stroke-dashoffset: 192.0431365966797;
  animation: line-anim 1s ease forwards 0.2s,
  fill2 1s ease forwards 1.6s;
}
#AppName path:nth-child(3){
  stroke-dasharray: 209.83609008789062;
  stroke-dashoffset: 209.83609008789062;
  animation: line-anim 1s ease forwards 0.4s,
  fill 1s ease forwards 1.6s
}
#AppName path:nth-child(4){
  stroke-dasharray: 132.56112670898438;
  stroke-dashoffset: 132.56112670898438;
  animation: line-anim 1s ease forwards 0.6s,
  fill 1s ease forwards 1.6s
}
#AppName path:nth-child(5){
  stroke-dasharray: 210.13351440429688;
  stroke-dashoffset: 210.13351440429688;
  animation: line-anim 1s ease forwards 0.8s,
  fill 1s ease forwards 1.6s
}
#AppName path:nth-child(6){
  stroke-dasharray: 217.04347229003906;
  stroke-dashoffset: 217.04347229003906;
  animation: line-anim 1s ease forwards 1s,
  fill 1s ease forwards 1.6s
}
#AppName path:nth-child(7){
  stroke-dasharray: 218.5653533935547;
  stroke-dashoffset: 218.5653533935547;
  animation: line-anim 1s ease forwards 1.2s,
  fill 1s ease forwards 1.6s
}
#AppName path:nth-child(8){
  stroke-dasharray: 191.55014038085938;
  stroke-dashoffset: 191.55014038085938;
  animation: line-anim 1s ease forwards .6s,
  fill2 1s ease forwards 1.6s
}
#AppName path:nth-child(9){
  stroke-dasharray: 234.87718200683594;
  stroke-dashoffset: 234.87718200683594;
  animation: line-anim 1s ease forwards .8s,
  fill2 1s ease forwards 1.6s
}
#AppName path:nth-child(10){
  stroke-dasharray: 162.54293823242188;
  stroke-dashoffset: 162.54293823242188;
  animation: line-anim 1s ease forwards 1s,
  fill2 1s ease forwards 1.6s
}

/* css animations */
@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes fill{
  from{
    fill: transparent;
  }
  to {
    fill: black;
  }
}
@keyframes fill2{
  from{
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes rotate{
  to{
    transform: rotate(45deg)
  }
}

.tag{
  position: absolute;
  bottom: 0;
  margin: 3%;
  display: flex;
  color:white;
}

.tag h3{
  margin: 1%;
  text-shadow: 1px 3px 3px pink;
}

#excuses{
  height: 100vh;
  background: #0E1619;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#excuses .small h1{
  line-height: 1;
  color: #f5d5c8;
}
#excuses p {
  color:white;
  font-size: 1.5rem;
}
#excuses .big h1 {
  color: #f5d5c8;
  font-size: 0rem;
}
.description{
  color: white;
}

#adventure{
  position: relative;
  background: #0E1619;
  height: 100vh;
  padding: 2%;
  color: white;
}

#AdventureName{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 90%;
}
.tagline{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 70%;
  color:  pink;
  text-shadow: 1px 3px 3px dodgerblue;
  font-size: 3rem;
}


.register{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: dodgerblue;
  padding: 1.2%;
  margin-bottom: 5%;
  border-radius: 9px;
}
.register:hover{
  background: white;
}

.link {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.register:hover .link{
  color: dodgerblue;
}
@media only screen and (min-width: 600px){
  #AppName{
    width: 90%;
  }
  .tag h3{
    font-size: 2rem;
  }
  #excuses .small h1{
    font-size: 3.5rem;
  }
  .tagline {
    width: 90%;
  }
}

@media only screen and (min-width: 800px){
  #AppName{
    width: 60%;
  }
  .tag h3{
    font-size: 3rem;
  }
  #excuses .small h1{
    font-size: 3.8rem;
  }
  #AdventureName{
    width: 60%;
  }
 
}

@media only screen and (min-width: 1000px){
  #AdventureName{
    width: 50%;
  }
  #excuses .small h1{
    font-size: 0rem;
  }
  #excuses .big h1{
    font-size: 5rem;
  }
  
}
@media only screen and (min-width: 1400px){
  .tag{
    color:black;
  }
  #AdventureName{
    width: 30%;
  }
  
}